@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Raleway:400,800");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.reveal{
	display:none;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}
.row:before {
  content: "";
  display: table;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Raleway';
  line-height: 1.55;
  color: #737373;
  font-weight: 400;
}

body a {
  color: #27b198;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

body a:hover {
  border-color: #eeeeee;
}

code {
  background: #fff;
  color: #999999;
  padding: 2px 8px;
}

header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #1f8f7b;
  border-bottom: 1px solid dareken(#2dceb1, 15%);
  letter-spacing: 4px;
  padding: 12px 0;
  background: #fafafa;
  border-bottom: 1px solid #eeeeee;
}

.sub_title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #1f8f7b;
  border-bottom: 1px solid dareken(#2dceb1, 15%);
  letter-spacing: 4px;
  padding: 12px 0;
  background: #f6f6f6;
  border-bottom: 1px solid #eeeeee;
}

.wrap {
  max-width: 48em;
  margin: 0 auto;
  padding: 2.5em 0 4em;
}

.row.last {
  border-bottom: 1px solid #eeeeee;
}

section {
  position: relative;
  padding: 30px 20px;
  width: 50%;
  min-height: 12em;
  float: left;
  background: #fafafa;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

section:nth-child(even) {
  border-right: 1px solid #eeeeee;
}

/* pseudo elements */
/* elements of score */

section.item-incorrect {
  background: #f6f6f6;
}

section.item-incorrect:before {
  position: absolute;
  z-index: 399;
  bottom: 0;
  right: 0;
  content: "";
  height: 0;
  width: 0;
  border: 35px solid;
  border-color: transparent #939393 #939393 transparent;
}

section.item-incorrect:after {
  line-height: 1.4;
  position: absolute;
  z-index: 499;
  font-family: 'fontawesome';
  content: "";
  bottom: 0;
  right: 7px;
  font-size: 1.7em;
  color:  rgba(250,250,250,0.85);
}

section.item-correct:before {
  position: absolute;
  z-index: 399;
  bottom: 0;
  right: 0;
  content: "";
  height: 0;
  width: 0;
  border: 35px solid;
  border-color: transparent #939393 #939393 transparent;
}

section.item-correct:after {
  line-height: 1.4;
  position: absolute;
  z-index: 499;
  font-family: 'fontawesome';
  content: "";
  bottom: 0;
  right: 7px;
  font-size: 1.7em;
  color: rgba(250,250,250,0.85);
}

/* Input of answer question */

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

input[type="radio"] + label {
  background: #fff;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px 10px 5px 0;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

input[type="radio"] + label:before {
  content: "\f10c";
  font-family: 'fontawesome';
  margin-right: 7px;
  color: #bdbdbd;
}

input[type="radio"] + label:hover {
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background: #d3d3d3;
  color: #545454;
}

input[type="radio"]:checked + label:before {
  content: "\f192";
  color: #545454;
}

.question {
  font-weight: bold;
}

/* submit button section */

.submit {
  padding: 20px 5px;
}

.submit button {
  display: block;
  outline: none;
  width: 300px;
  margin: 1em auto 1.5em;
  padding: .8em 1em;
  background: #f8f8f8;
  color: gainsboro;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #eeeeee;
}

/*modal window */

/* modal wrapper background */
.modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(255,257,153,0.15);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

.modal-wrapper.blur{
	opacity:1;
	visibility:visible;
	background:rgba(255,257,153,0.95);
}

/* modal window */
.modal{
  width:580px;
  height:380px;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:45%; left:50%;
  background:#fff;
  opacity:0;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal{
  margin-top:-200px;
  opacity:1;
  position: relative;
  z-index: 2;
}

/* modal window head */
.head{
  width:100%;
  height:32px;
  padding:1.5em 5%;
  overflow:hidden;
  background:#01bce5;
}

/* modal window close btn */
.btn-close{
  width:30px;
  height:30px;
  display:block;
  float:right;
}

.btn-close:before, .btn-close:after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#fff;
}

.btn-close:before{
  margin-top:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.btn-close:after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

/* modal window body */
.content{
  padding:5%;
}

.content >h4 {
	text-align: center;
}

.content >p {
	text-align: center;
}

/* bar-score */
#emc-score {
  text-align: center;
  opacity: 0;
  padding: 0;
  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
#emc-score.new-score {
  opacity: 1;
  font-size: 25px;
  background: #9fabb7;
  color: #fbfbfb;
  padding: 20px;
}

/* Submit button */

#emc-submit {
  position: relative;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
#emc-submit.ready-show {
  background: #c8cfd6;
  color: #1f8f7b;
  border: none;
  border-bottom: 2px solid #d6dbe0;
  box-shadow: 0 1px 1px rgba(68, 68, 68, 0.2);
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
#emc-submit.ready-show:hover {
  color: #fbfbfb;
  background: #778899;
  border-color: #5f6c7a;
}
#emc-submit.ready-show:active {
  top: 2px;
  border-bottom: none;
}

/* Bar progress */

#emc-progress {
  height: 100%;
  border: 1px solid #bbc3cc;
  background: # #e3e7ea;
}

#emc-progress_inner {
  width: 100%;
  height: 0;
  background: #778899;
  -webkit-transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: height 0.33s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#emc-progress_ind {
  position: absolute;
  display: block;
  width: 100%;
  font-size: .7em;
  font-weight: bold;
  padding: 7px 5px 5px;
  top: 0;
  left: 0;
  text-align: center;
  color: #e3e7ea;
}

/* footer Section */
footer {
  position: fixed;
  width: 40px;
  height: 100%;
  background: rgba(251, 251, 251, 0.85);
  bottom: 0;
  left: 0;
  padding: 25px 12px 10px;
}

.attrib {
  padding: 10px 0;
  text-align: center;
}
.attrib i {
  margin-right: 7px;
  margin-left: 7px;
}

/* start button */
.start {
  width: 60%;
  margin-left: 120px;  
  margin-bottom:25px;
  padding: 10px 20px;
  border: solid 6px rgba(255, 255, 255, .7);
  border-radius: 16px;
  font: 20px 'Raleway', sans-serif;
  color: #fff;
  background:  #929FAD linear-gradient(rgba(119, 136, 153, .7), transparent);
  background-size: auto 180%;
  background-position: 0 80%;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: background-position .2s;
}
.start:hover {
  background-position: 0 0;  
}
.start:focus {
  outline: none;
}

.started {
  display: none;
}

.input {
  width: 60%;  
  margin-left: 120px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border: solid 6px rgba(255, 255, 255, .8);
  border-radius: 16px;
  font: 20px 'Shanti', sans-serif;
  color: #6b4c36;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .2), 0 0 6px rgba(0, 0, 0, .2);
}
.input:focus {
  outline: none;
}
.input:disabled {
  opacity: .3;
  transition: opacity .5s;
}

.status {
  padding: 10px 0;
  margin-bottom: 10px;
}
.status::after {
  content: '';
  display: block;
  clear: both;
}

.status-timer {
  float: left;
}

.status-current-score {
  float: right;
}

/* object */

object {
	
	height: 75px;
	width: 75px;
	position: absolute;
	margin-left: 45%;
	margin-top: -8%;
	opacity: 0.3;
}


